<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico"> -->
  <title>DFF Egg Order App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Add Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <!-- Add your custom CSS if needed -->
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <!-- Add your header content here -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container d-flex justify-content-center">
      <a class="navbar-brand" href="/">
        <img src="/images/dffeggslogo.jpg" alt="" width="" height="150" >
    </a>
      <!-- Add your menu items or navigation links here -->
    </div>
  </nav>
