<%- include('./partials/header.ejs') -%>

<div id="app" class="container-fluid px-0 mb-5 pb-5  ">
  <section class="eggorderform bg-dark pb-4 text-light ">
   
  
  <div class="ui stackable grid center aligned pt-4">
    <div v-if="!showSection" class=" center px-3">
      <div class="content ">
        <button class="ui green button" @click="showSection = true">New Order</button>
      </div>
    </div>
    <div class="sixteen wide mobile twelve wide tablet five wide computer center aligned column">
      <div v-if="showSection" class="card center px-3">
        <div class="content pt-2">
          <button class="circular ui icon basic teal button" @click="showSection = false">
                <i class="icon angle up"></i>
            </button>
          <div class="header ui blue mt-1">Create Order</div>
          <form class="ui form custom-form" @submit="submitForm()">
            <div class="fields justify-content-around">
              <div class="six wide field">
                <label for="name">Name:</label>
                <input type="text" id="name" v-model="name" required>
              </div>
              <div class="six wide field">
                <label for="dept">Department:</label>
                <input type="text" id="dept" v-model="dept" required>
              </div>
            </div>
            <div class="fields justify-content-around">
              <div class="six wide field">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" v-model="quantity" required>
              </div>
              <div class="six wide field">
                <label for="trayType">Tray Type:</label>
                <select id="trayType" v-model="trayType" @change="updatePrice">
                  <option v-for="tray in trays" :value="tray.id">{{ tray.type }}</option>
                </select>
                <a class="ui primary " @click="editEggtray" >Edit</a>
              </div>
            </div>

            <div class="fields justify-content-center">
              <div class="six wide field">
                <label for="price">Price:</label>
                <input type="text" id="price" v-model="price" readonly class="border-none">
              </div>

            <div class="d-flex justify-content-spacebetween align-items-center">
              <div class="field px-5 py-3">
                <div class="ui checkbox">
                  <input type="checkbox" id="delivered" v-model="delivered">
                  <label for="delivered">Delivered</label>
                </div>
              </div>
              <div class="field px-5 ">
                <div class="ui checkbox">
                  <input type="checkbox" id="paid" v-model="paid">
                  <label for="paid">Paid</label>
                </div>
              </div>
              </div>  
            </div>
          </div>
          <div class="fields justify-content-center d-flex py-4">
            <button type="submit" class="ui primary button big" @click="submitForm">Submit</button>
          </div>
           
          </form>
        </div>
      </div>
    

      <div class="sixteen wide mobile eight wide tablet five wide computer center aligned column">
        <div class="ui card px-3">
          <div class="tab-content"> 
            <div id="colhead" class="ui header blue pt-3 ">Collection Summary</div>
            <div class="ui divider"></div>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Total Order</th>
                  <th>Amount owing</th>
                  <th>Action</th> 
                </tr>
              </thead>
              <tbody>
                <tr v-for="(order, index) in calculateAmountOwing" :key="order.name" :class="{'bg-dark': index % 2 === 0, 'text-light': index % 2 === 0, 'rounded-row': true}">
                  <td>{{ index + 1 }}</td>
                  <td>{{ order.name }}</td>
                  <td>{{ formatPrice(order.orderTotal) }}</td>
                  <td>{{ formatPrice(order.amountOwing) }}</td>
                  <td>
                    <!-- <button class="ui button primary tiny " @click="openPaymentDialog(order)"></button> -->
                    <div class="ui animated primary tiny button" tabindex="0" @click="openPaymentDialog(order)">
                      <div class="visible content">Pay</div>
                      <div class="hidden content">
                        <i class="right arrow icon"></i>
                      </div>
                    </div>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="sixteen wide mobile eight wide tablet five wide computer center aligned column">
        <div class="ui card px-3 ">
          <div class="tab-content"> 
            <div id="colhead" class="ui header blue pt-3 ">Pending Delivery</div>
            <div class="ui divider"></div>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Total Order</th>
                  <th>Action</th> 
                </tr>
              </thead>
              <tbody>
                <tr v-for="(order, index) in getPendingDelivery" :key="order.name" :class="{'bg-dark': index % 2 === 0, 'text-light': index % 2 === 0, 'rounded-row': true}">
                  <td>{{ index + 1 }}</td>
                  <td>{{ order.name }}</td>
                  <td>{{ formatPrice(order.orderTotal) }}</td>
                  
                  <td>
                    <!-- <button class="ui button primary tiny " @click="openPaymentDialog(order)"></button> -->
                    <div class="ui animated primary tiny button" tabindex="0" @click="showDeliverConfirmation(order)">
                      <div class="visible content">Deliver</div>
                      <div class="hidden content">
                        <i class="right arrow icon"></i>
                      </div>
                    </div>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
</section>

<Section class="allorders mx-4 mb-5">
  <div class="headinga px-5 text-center mt-4 ">
  <h1>All Orders</h1>
  <div class="mb-3">
    <div class="ui form text-center d-flex justify-content-center">
      <div class=" fields">
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" id="all" name="filter" value="all" v-model="filter">
            <label for="all">All</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" id="pending_payment" name="filter" value="pending_payment" v-model="filter">
            <label for="pending_payment">Pending Payment</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" id="pending_delivery" name="filter" value="pending_delivery" v-model="filter">
            <label for="pending_delivery">Pending Delivery</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" id="delivered_paid" name="filter" value="delivered_paid" v-model="filter">
            <label for="delivered_paid">Delivered & Paid</label>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
  <p>Number of Results: {{ getFilteredOrders.length }}</p>

  <div class="ui three stackable cards">
    <div class="card" v-for="order in getFilteredOrders" :key="order.id">
      <div class="content">
        <div class="header">{{ order.name }}</div>
        <div class="meta">Department: {{ order.dept }}</div>
        <div class="description">
          <p>Quantity: {{ order.quantity }}</p>
          <p>Price: {{ formatPrice(order.price) }}</p>
          <p>Total: {{ formatPrice(order.total) }}</p>
          <p>Payment Date: {{ order.paid ? formatDate(order.paidAt) : 'Not paid' }}</p>
          <p>Delivery Date: {{ order.delivered ? formatDate(order.deliveredAt) : 'Not delivered' }}</p>
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <button class="ui primary button   rounded" @click="editOrder(order.id)">Edit</button>
          <button class="ui negative button  rounded " @click="showDeleteConfirmation(order)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="addpayment ui stackable grid center aligned  ":class="{ 'd-none': !showPaymentDialog }">
  <div v-if="showPaymentDialog " class="six wide payment-dialog">
    <div class="container-fluid" :style="{ display: showPaymentDialog ? 'block' : 'none' }" @close="showPaymentDialog = false">
      <h3>Receive Payment</h3>
      <form class="ui form" @submit.prevent="submitPayment">
        <div class="field">
          <label for="amountPaid">Amount Paid:</label>
          <input type="number" id="amountPaid" v-model="amountPaid" min="-100" :max="orderTotal" step="1" required>
          <p v-if="amountPaid > orderTotal" class="error">Amount paid cannot exceed the order total.</p>
        </div>
        <div class="ui center aligned padded grid ">
          <div class="row">
            <div class="column">
              <div class="actions d- flex">
                <button class="ui primary button six wide" type="submit">Submit</button>
                <button class="ui button" type="button six wide" @click="showPaymentDialog = false">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        
      </form>
    </div>
  </div>
</section>


  
</div>




<script type="module" src="/js/app.js"></script>

<%- include('./partials/footer.ejs') -%>
