<!DOCTYPE html>
<html>
<head>
  <!-- Add your head content here -->
</head>
<body>
  <% include partials/header.ejs %>

  <%- body %> <!-- This will be replaced with the specific content of each view -->

  <% include partials/footer.ejs %>
</body>
</html>
