<%- include('./partials/header.ejs') -%>
<div class="containeredit">
  <div class="card mb-4 shadow mx-auto bg-dark text-light" style="max-width: 500px;">
    <div class="card-body">
      <form class="form" @submit.prevent="addEggTray">
        <h2 class="card-title">Edit Egg Tray</h2>
        <div class="form-group p-3">
          <MuiFormControl>
            <label for="type">Type:</label>
            <input class="py-2" type="text" id="type" name="type" value="<%= eggTray.type %>" required style="width: 100%;" sx={{ color: "blue" }} />
            <MuiFormHelperText id="type-helper-text" />
          </MuiFormControl>
        </div>
        <div class="form-group p-3">
          <MuiFormControl>
            <label for="price">Price:</label>
            <input class="py-2" type="number" id="price" name="price" value="<%= eggTray.price %>" required style="width: 100%;" sx={{ color: "blue" }} />
            <MuiFormHelperText id="price-helper-text" />
          </MuiFormControl>
        </div>
        <!-- Other input fields for egg tray details -->
        <div class="d-flex justify-content-center align-items-center p-3">
          <input type="hidden" name="_method" value="PUT">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>


<%- include('./partials/footer.ejs') -%>